@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 8px;
}

.navbar-heading {
    font-size: 1.2em;
    margin: 4px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 100px;
    flex-grow: 1;
    margin: 4px;
}

.navbar-links a {
    width: 100%;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

.inner-box {
    display: inline-block;
    padding: 20px 40px;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to right top, #ffffffff, #ffffff44);
    border-radius: 8px;
    z-index: 2;
}

.signup-header,
.login-header {
    margin: 0px 0px 20px 0px;
}

.signup-header p,
.login-header p {
    color: #212121;
    font-size: 0.8em;
}

.signup-body p,
.login-body p {
    padding: 5px 0px;
}

.signup-footer p a,
.login-footer p a {
    color: #2773a5;
}

input {
    width: 100%;
    font-size: 0.9em;
    padding: 8px;
}

input[type="submit"] {
    background-color: #32acff;
    border: none;
    color: white;
    cursor: pointer;
    transition: backgroud-color 0.3s, color 0.3s;
}

.signup-btn, .login-btn {
    background-color: #333;
    border: #32acff 2px solid;
    color: #32acff;
    cursor: pointer;
    width: 100%;
    margin: 4px 0px;
    padding: 4px;
    border-radius: 8px;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover,
.signup-btn:hover ,
.login-btn:hover {
    background-color: #32acff;
    color: white;
}

#error {
    color: red;
    text-align: center;
    margin: 8px;
}

.hidden {
    display: none;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffffaa, #ffffffff);
    position: absolute;
}

.c1 {
    top: 25px;
    left: 10px;
}

.c2 {
    bottom: 25px;
    right: 10px;
}

.main-content {
    padding: 8px;
    font-family: "Open Sans", sans-serif;
}

.blog {
    margin: 8px;
    border: #333 4px solid;
    background-color: #10435e;
    border-radius: 8px;
    color: white;
    padding: 8px;
}

.blog-header,
.blog-content,
.blog-footer {
    padding: 8px;
}

.blog-header {
    margin: 8px 0px;
}

.blog-content p {
    margin: 8px 0px;
}

.blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.like-btn, .comment-btn, .download-btn {
    background-color: #333;
    border: #32acff 2px solid;
    color: #32acff;
    cursor: pointer;
    width: 100%;
    margin: 4px 4px;
    padding: 4px;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

.like-btn:hover,
.comment-btn:hover,
.download-btn:hover {
    background-color: #32acff;
    color: white;
}

.like-btn:disabled {
    background-color: #32acff;
    color: white;
}

@media (max-width: 275px) {
    .inner-box {
        padding: 10px 10px;
    }
}
