@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

.inner-box {
    display: inline-block;
    padding: 20px 40px;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to right top, #ffffffff, #ffffff44);
    border-radius: 8px;
    z-index: 2;
}

.signup-header, .login-header {
    margin: 0px 0px 20px 0px;
}

.signup-header p, .login-header p{
    color: #212121;
    font-size: 0.8em;
}

.signup-body p, .login-body p{
    padding: 5px 0px;
}

.signup-footer p a, .login-footer p a {
    color: #2773a5;
}

input {
    width: 100%;
    font-size: 0.9em;
    padding: 8px;
}

input[type="submit"] {
    background-color: #32acff;
    border: none;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0e5c8f;
}

#error {
    color: red;
    text-align: center;
    margin: 8px;
}

.hidden {
    display: none;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffffaa, #ffffffff);
    position: absolute;
}

.c1 {
    top: 25px;
    left: 10px;
}

.c2 {
    bottom: 25px;
    right: 10px;
}

@media (max-width: 275px) {
    .inner-box {
        padding: 10px 10px;
    }
}
